* {
  box-sizing: border-box;
}
body {
  text-align: center;
}

.App {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-height:100vh;
  width:100vw;
}
.App-Body {
    height:100%;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: start;
    background: url('https://nas-national-prod.s3.amazonaws.com/web_aud_mountain-bluebird_08695_photo-evan-barrientos.jpg');
    background-size: cover;
}

header {
  height: min(300px, 30vh);
  min-height:150px;
  background-color:skyblue;
  background-image: url('resources/banner21.png');
  background-size: cover;
  background-position:top;
  color:white;
  position: relative;
  padding-right: 24px;
  text-align: right;;
} 
header h1 {
  margin-top: 8px;
  margin-right: 16px;
  color: darkslategray;
  text-shadow: -5px 0px 10px lightslategray;
}


.footer-wrapper {
 
  width:100%;
  padding: 8px;
  max-height: 100px;
  background: rgb(65, 125, 150);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-wrapper > div {
  width: 100%;
  padding: 2px 10px;
}
.footer-left {
  text-align: left;
} 
.footer-center {
  text-align: center;
}
.footer-right {
  text-align: right;
}


/* NAVIGATION BAR */
.navbar {
  color:white;
  background:darkslategray;
  position: absolute;
  width: 100vw;
  bottom:0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index:10;
}
.nav-btn, .nav-btn a {
  color:white;
  display: block;
  padding: 8px;
  /* background: rgba(255,255,255,.4); */
  
}
.nav-btn {
  /* color: black; */
  text-decoration:none;
  font-weight: 400;
  background: darkslategray
}
.nav-btn:hover {
  background: rgba(122, 159, 214, 0.75);
  font-weight:bold;
  color: white;
}
.navbar > .nav-btn {
  display:inline-block;
  /* border: solid thin gray; */
  width:100%;
  text-align: center;
  z-index: 10;
} 
.nav-drop {
  position: relative;
  box-sizing: border-box;
  z-index:10;
}
.nav-drop-container {
  box-sizing: border-box;
  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  height:auto;
  max-height: 10px;
  overflow:hidden;
  margin-top: 0px;
  border-top: 0;
  background:darkslategray;

  border:solid 2px gray;
  border-radius: 0 0 18px 18px;
  border-top: none;
  width:100%;
  z-index: -1;
  opacity: 0;

  transition: all .3s ease-in-out;
}
.nav-drop:hover > .nav-drop-container {
  top: 100%;
  opacity: 1;
  max-height: 120px;
}

.page-title {
  margin: 10px 4px;
  padding: 10px;
  background-color: lightskyblue;
  background-size: cover;
  background-position: center;
}
.page-title h2, .page-title h3, .page-title h5 {
  margin:2px;
  background: rgba(255,255,255,.5)
  
}
.page-wrapper {
  width:100%;
  max-width: 1400px;
  height:100%;
  margin: 0 auto;
  padding: 24px;
  background: rgba(255,255,255,.65)
}
.details-content-wrapper {
  padding: 8px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 4px;
  position: relative;
}
h3.break-float {
  clear:both;
  border-bottom: solid thin gray;
}

.bird-details-title {
  background: gray;
  background-image: url('resources/dejan-zakic-HxX3H32DYjA-unsplash.jpg');
  background-size:cover;
  background-position: center;
}
.bird-details-feature-img {
  max-width:250px;
  border: solid 2px black;
  float:left;
}
.details-label {
  font-weight: bold;
}
.details-message {
  color: gray;
  font-style: italic;
}

.cards-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* DISPLAY CARDS */
.card-wrapper {
  margin: 4px 8px;
  border: solid 3px rgba(0,0,0,.5);
  border-radius: 12px;
  text-align: center;
  position:relative;
  width:min(250px, 90vw);
  height: min(250px, 90vw);
  background-position: center;
  background-size: cover;
  color: white;
  box-shadow: 0 0 0 black;
  
  cursor: pointer;
  transition: transform .25s ease-in-out;
} 

.secondary-grid {
  display:block;
  padding: 4px;
}
.secondary-grid .card-wrapper {
  width:120px;
  max-height: 120px;
}

.bird-card-wrapper {
  background: gray;
  background-image: url('resources/bird-thumb.png');
  background-size:cover;
  background-position: center;

}


.card-wrapper:hover {
  transform: scale(1.05);
  box-shadow: 3px 1px 6px rgba(0,0,0,1);
  /* box-shadow: inset 0 0 8px white; */
}
.secondary-grid .card-wrapper:hover {
  /* transform: scale(1.025); */
  box-shadow:0 0 5px gray;
}

.card-wrapper .card-title {
  width:100%;
  background: rgba(0,0,0,.65);
  padding: 8px;
  position: absolute;
  bottom:0;
  border-radius: 0 0 10px 10px;
}
.card-wrapper h3, .card-wrapper h5 {
  margin:0;
}

.secondary-grid-card-block {
  border-bottom:solid thin lightgray;
  display: flex;
  flex-direction: row;
  justify-content:start;

  text-align: left;
  font-size: smaller;
}
.sighting-notes .timestamp {
  font-style: italic;
}


/* GALLERY COMPONENT STYLING */
.gallery-component {
  border: solid 2px gray;
  padding: 4px;
}
.gallery-component h4 {
  margin-top:0;
}
.gallery-item img {
  width: 200px;
  margin-bottom: -5px;
  border: solid thin gray;
  border-radius: 8px;
} 
.gallery-item-caption {
  margin:0;
  font-size:smaller;
  font-style: italic;  
}



/*  FORMS: */

input, textarea {
  border-radius: 4px;
}

.update-form {
  max-width: 80vw;
  margin: 0 auto 10px auto;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px 20px;
  justify-content: center;
  align-items:baseline center;
  
} .update-form input[type='text'] {
  height:fit-content;
  min-width:100%;
  max-width:100%;
}  .update-form textarea {
  max-width: 100%;
  resize: vertical;
}
.form-input-caption {
  margin:0;
  font-size:smaller;
  font-style: italic;
  text-align: left;
  color: gray;
}
.form-input-split-half {
  display: flex;
  justify-content: space-between;
}
.form-input-half-width {
  flex: 50%;
}
.ebird-data-filter-wrapper {
  display: flex;
  justify-content: space-around;
  border: solid thin #cbcaca;
  background: #edeced;
  width: 95%;
  margin: 0 0 0 auto;
  font-size: .75rem;
}
.ebird-data-filter-wrapper .ebird-lookup-table {
  max-height: 5.25rem; 
  min-width: 75%;
  font-size: 0.75rem; 
  overflow-y: scroll; 
  cursor: pointer;
} 
.ebird-data-filter-wrapper .ebird-data-filter-row {
  border-top:solid thin #cbcaca;
} 
.ebird-data-filter-wrapper .ebird-data-filter-row:first-of-type {
  border-top:none;
} 
.ebird-data-filter-wrapper .ebird-data-filter-row:hover {
  background: #cbcaca;
} 
.ebird-data-filter-wrapper .ebird-data-filter-message {
  font-style: italic;
  color:gray;
}
.form-gallery-line {
  display:grid;
  grid-template-columns: 90px 6fr 2fr;
  border-top: solid thin lightgray;
  margin: 4px 0;
  padding: 6px 0;
} 
.form-gallery-line-inputs {
  text-align: left;
  padding-right: 4px;
}
.form-gallery-line input[type='text'], .form-gallery-line textarea {
  max-width:100%;
  resize: vertical;
}
.form-gallery-line img {
  max-width: 100%;
  max-height: 120px;
  border: solid thin gray;
}
.form-sighting-line-inputs {
  text-align: left;
  padding-left: 4px;
  grid-column:2 / end;
}
.form-sighting-line-inputs input[type='text'] {
  width: auto;
}
.form-sighting-line-inputs textarea {
  width: 100%;
}

.form-buttons {
  grid-column: 1 / span 2;
} 
.form-buttons button {
  margin: 0 8px;
} 
button[type='submit'] {
  font-weight:bold;
}
.new-sighting-form {
    text-align: left;
    vertical-align: top;
}
.delete-form-wrapper label {
  color: gray;
}

/* NEW SIGHTINGS PAGE */
.sightings-sidebyside {
  display:flex;
  justify-content: center;
  align-items: flex-start;
}
.sightings-sidebyside div {
  flex: 50%;
  font-size:.75rem;
}
.sightings-location-label {
  margin-bottom: 0;
}
/* .sighting-notes {
  display: flex;
  justify-content: space-evenly;
} */
.sighting-notes .timestamp {
  text-decoration: underline;
} .sighting-notes .sighting-location {
  font-weight: bold;
  font-style: italic;
}